.list-item-with-hover{
    position:relative;
  }
  
  .list-item-with-hover:hover .list-item-extension{
    display:block;
  }
  
  .list-item-extension{
    position:absolute;
    right:-100%;
    top:0;
    display:none;
  }